.month {
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    padding: 15px;
    min-width: 225px;
    max-width: 250px;
    min-height: 200px;
}

.current-month {
    border-color: #3996FD;
}

.month h4 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.month p {
    text-align: left;
    font-size: 14px;
    margin: 15px 0;
}
