.noteWeek {
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin-left: 10px;
}

.h1Notes {
    text-align: left;
    margin-left: 15px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    margin-top: 110px;
}


.noteWeek textarea {
    width: 100%;
    min-height: 330px;
    margin-top: -10;
    padding: 12px;
    font-size: 14px;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
    resize: vertical;
    outline: none;
    background-color: #f9f9f9;
}

.note-week textarea:focus {
    border-color: #3996FD;
    box-shadow: 0 0 5px rgba(57, 150, 253, 0.5);
}


.noteWeekDescription {
    font-size: 10px;
    color: #666;
    margin-top: 2px;
    text-align: left;
    margin-bottom: -15px;
}

.buttons9 {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    gap: 15px;
    width: 90%;
    max-width: 600px;
    margin-left: 15px;
}


.buttons9 button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 120px;
}


.buttons9 button:first-child {
    background-color: #D25050;
    color: white;
}

.buttons9 button:first-child:hover {
    background-color: #7F3030;
}


.buttons9 button:last-child {
    background-color: #28A751;
    color: white;
}

.buttons9 button:last-child:hover {
    background-color: #186531;
}


@media (max-width: 600px) {
    .noteWeek {
        width: 95%;

    }
}